<template name="navbar">
  <div class="ui blue inverted secondary menu">
    <div class="header item">
      <a href="/">Courseroom</a>
    </div>
    <div class="right menu">
        {{#if currentUser}}
              <h4 class="ui item">Welcome!</h4>
            {{#with currentUser.profile}}

              <a href="#" class="ui item">{{username}}</a>
              <a href="#" class="ui item">{{firstName}} {{lastName}}</a>

            {{/with}}
              <a id='logout' class="ui item">Logout</a>
        {{else}}
          <a href="/login" class="ui item">
            Login
          </a>
        {{/if}}
    </div>
  </div>
</template>
