<template name="home">
  <div id="landing">

    <div class="ui inverted vertical segment">
      <div class="ui page grid">
        <div class="column">
          <div class="introduction">
            <h1 class="ui inverted header">Courseroom</h1>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a dignissim leo. Phasellus consectetur
              ante vel vehicula tempor.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="ui three column page grid">
      <div class="row">
        <div class="column">
          <h2 class="icon header">
            <i class="plug icon"></i>
          </h2>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a dignissim leo. Phasellus consectetur ante
            vel vehicula tempor.</p>
        </div>
        <div class="column">
          <h2 class="icon header">
            <i class="plug icon"></i>
          </h2>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a dignissim leo. Phasellus consectetur ante
            vel vehicula tempor.</p>
        </div>
        <div class="column">
          <h2 class="icon header">
            <i class="plug icon"></i>
          </h2>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a dignissim leo. Phasellus consectetur ante
            vel vehicula tempor.</p>
        </div>
      </div>
    </div>
  </div>
</template>
