<template name="sidebar">

  <div class="ui courses dropdown">
    <input type="hidden" name="courses">
    <div><h4>Courses<i class="dropdown icon"></i></h4></div>

    <div class="menu">
      {{#each courses}}
            <option class="selectCourse" data-id="{{_id}}"><a href="#">{{name}}</a></option>
      {{/each}}
    </div>
  </div>

  <div class="ui celled list">
    <h4>Rooms</h4>
      {{#each rooms}}
        <div class="item">
          <div class="content">
            <a href="{{pathFor 'rooms' _id=this._id }}">{{name}}</a>
          </div>
        </div>
      {{/each}}
  </div>

  <div class="ui celled list">
    <h4>Groups</h4>
      {{#each groups}}
        <div class="item">
          <div class="content">
              {{name}}
          </div>
        </div>
      {{/each}}
  </div>
</template>
