<template name="room">
  <div id="room">
    <div class="ui internally celled grid">
      <div class="row">
        <div class="three wide column">
            {{> sidebar}}
        </div>
        <div class="nine wide column">
          <div id="messageWrapper" class="full height">
            <div id="messages">
              <div class="ui comments">
                  {{#each messages}}
                    <div class="comment">
                        {{#with author}}
                          <a class="avatar">
                            <img src="{{profile.avatar}}">
                          </a>
                        {{/with}}

                      <div class="content">
                          {{#with author}}
                            <a class="author">{{profile.firstName}} {{profile.lastName}}</a>
                          {{/with}}
                        <div class="metadata">
                          <span class="date">{{formatDate postedAt 'h:mm a'}}</span>
                        </div>
                        <div class="text">
                            {{message}}
                        </div>
                      </div>
                    </div>
                  {{/each}}
              </div>

            </div>

            <form id="sendMessageForm" class="ui form">
              <div class="field">
                <textarea name="message" id="messageText" placeholder="Send your message..."></textarea>
              </div>
            </form>
          </div>
        </div>
        <div class="center aligned four wide column">
          <h4 class="ui header">Q&A</h4>

          <div class="scrollable-box">
              {{#each questions}}
                <div class="ui fluid card">
                  <div class="content left aligned">
                    <strong>Q:</strong> {{content}}

                    <div class="ui divider"></div>

                    <strong>A:</strong> {{answer}}
                  </div>
                </div>
              {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
